In [179]:
import numpy as np
import pandas as pd

In [180]:
def load_dataset(csv_path):
    open_dataset = pd.read_csv(csv_path)
    return open_dataset

       name lastname      number  arranged number
0     Anwer  Mukhtar   4892ru209                1
1      Alia    Anwer      824020                2
2  Muhammad   Shahiq     4242525                3
3    Sumaid  Mukhtar  5389538952                4
4     Areeb    Anwer   58u384280                5
5         A    Aliza   538953875                6

In [186]:
def split_data(data,validation_ratio,test_ratio):

    shuffle_rows = np.random.permutation(len(data))

    validation_set_size = int(len(data)*validation_ratio)

    validation_indices = shuffle_rows[:validation_set_size]

    test_set_size = int(len(data)*test_ratio)

    test_indices = shuffle_rows[validation_set_size:test_set_size+validation_set_size]

    train_indices =shuffle_rows[test_set_size:]

    train_set = data.iloc[train_indices]

    validation_set = data.iloc[validation_indices]

    test_set = data.iloc[test_indices]

    return train_set,validation_set,test_set

In [188]:
train_set,validation_set,test_set=split_data(load_dataset('my.csv'),validation_ratio=0.1,test_ratio=0.2)

In [136]:
def write_csv(name_train,name_validation,name_test):   

    train_set_csv = train_set.to_csv(name_train,index=False)

    validation_set_csv = validation_set.to_csv(name_validation,index=False)

    test_set_csv = test_set.to_csv(name_test,index=False)
    
    return train_set_csv,validation_set_csv,test_set_csv

write_csv(name_train='train.csv',name_validation='validation.csv',name_test='test.csv');