# Exercise 9: Which stocks move together?

In the previous exercise, you clustered companies by their daily stock price movements.  So which company have stock prices that tend to change in the same way?  Now inspect the cluster labels from your clustering to find out.

**Step 1:** Load the data _(written for you)_.

In [1]:
import pandas as pd

fn = '../datasets/company-stock-movements-2010-2015-incl.csv'
stocks_df = pd.read_csv(fn, index_col=0)

**Step 2:** Run your code from the previous exercise _(filled in for you)_.

In [2]:
companies = list(stocks_df.index)
movements = stocks_df.values

from sklearn.preprocessing import Normalizer
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline

normalizer = Normalizer()
kmeans = KMeans(n_clusters=14)
pipeline = make_pipeline(normalizer, kmeans)
pipeline.fit(movements)

Pipeline(steps=[('normalizer', Normalizer()),
                ('kmeans', KMeans(n_clusters=14))])

**Step 3:** Use the `.predict()` method of the pipeline to predict the labels for `movements`.

In [5]:
labels = pipeline.predict(movements)

**Step 4:** Align the cluster labels with the list of company names `companies` by creating a DataFrame `df` with `labels` and `companies` as columns.

In [14]:
df = pd.DataFrame({'labels':labels,'companies':companies})
df

    labels                           companies
0        0                               Apple
1       10                                 AIG
2        0                              Amazon
3        4                    American express
4        2                              Boeing
5       10                     Bank of America
6        1            British American Tobacco
7        5                               Canon
8        4                         Caterpillar
9        8                   Colgate-Palmolive
10       6                      ConocoPhillips
11       7                               Cisco
12       6                             Chevron
13       4                   DuPont de Nemours
14       4                                Dell
15       5                                Ford
16       4                   General Electrics
17       0                     Google/Alphabet
18      10                       Goldman Sachs
19       1                     GlaxoSmithKline
20       4                          Home Depot
21       5                               Honda
22       5                                  HP
23       4                                 IBM
24       7                               Intel
25       8                   Johnson & Johnson
26      10                      JPMorgan Chase
27       8                      Kimberly-Clark
28       9                           Coca Cola
29       2                     Lookheed Martin
30       4                          MasterCard
31       9                           McDonalds
32       4                                  3M
33       7                           Microsoft
34       5                          Mitsubishi
35      11                            Navistar
36       2                    Northrop Grumman
37       1                            Novartis
38       9                               Pepsi
39       1                              Pfizer
40       8                      Procter Gamble
41       3                       Philip Morris
42       6                   Royal Dutch Shell
43       1                                 SAP
44       6                        Schlumberger
45       5                                Sony
46       1                      Sanofi-Aventis
47       4                            Symantec
48       5                              Toyota
49       1                               Total
50       7  Taiwan Semiconductor Manufacturing
51       7                   Texas instruments
52       1                            Unilever
53      13                       Valero Energy
54       2                            Walgreen
55      10                         Wells Fargo
56      12                            Wal-Mart
57       6                               Exxon
58       4                               Xerox
59       4                               Yahoo

**Step 5:** Now display the DataFrame, sorted by cluster label.  To do this, use the `.sort_values()` method of `df` to sort the DataFrame by the `'labels'` column.

In [13]:
df.sort_values('labels')

    labels                           companies
0        0                               Apple
2        0                              Amazon
17       0                     Google/Alphabet
52       1                            Unilever
49       1                               Total
46       1                      Sanofi-Aventis
6        1            British American Tobacco
43       1                                 SAP
39       1                              Pfizer
37       1                            Novartis
19       1                     GlaxoSmithKline
54       2                            Walgreen
36       2                    Northrop Grumman
29       2                     Lookheed Martin
4        2                              Boeing
41       3                       Philip Morris
14       4                                Dell
3        4                    American express
47       4                            Symantec
8        4                         Caterpillar
13       4                   DuPont de Nemours
32       4                                  3M
30       4                          MasterCard
58       4                               Xerox
59       4                               Yahoo
16       4                   General Electrics
23       4                                 IBM
20       4                          Home Depot
15       5                                Ford
22       5                                  HP
48       5                              Toyota
21       5                               Honda
34       5                          Mitsubishi
45       5                                Sony
7        5                               Canon
42       6                   Royal Dutch Shell
57       6                               Exxon
12       6                             Chevron
44       6                        Schlumberger
10       6                      ConocoPhillips
24       7                               Intel
51       7                   Texas instruments
50       7  Taiwan Semiconductor Manufacturing
11       7                               Cisco
33       7                           Microsoft
40       8                      Procter Gamble
27       8                      Kimberly-Clark
25       8                   Johnson & Johnson
9        8                   Colgate-Palmolive
31       9                           McDonalds
38       9                               Pepsi
28       9                           Coca Cola
18      10                       Goldman Sachs
1       10                                 AIG
55      10                         Wells Fargo
26      10                      JPMorgan Chase
5       10                     Bank of America
35      11                            Navistar
56      12                            Wal-Mart
53      13                       Valero Energy

**Great job!** Using k-means, you've discovered which companies stock prices move together on the stock exchange.