# Exercise 9: Which stocks move together?

In the previous exercise, you clustered companies by their daily stock price movements.  So which company have stock prices that tend to change in the same way?  Now inspect the cluster labels from your clustering to find out.

**Step 1:** Load the data _(written for you)_.

In [103]:
import pandas as pd

fn = '../datasets/company-stock-movements-2010-2015-incl.csv'
stocks_df = pd.read_csv(fn, index_col=0)

**Step 2:** Run your code from the previous exercise _(filled in for you)_.

In [104]:
companies = list(stocks_df.index)
movements = stocks_df.values

from sklearn.preprocessing import Normalizer
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline

normalizer = Normalizer()
kmeans = KMeans(n_clusters=14)
pipeline = make_pipeline(normalizer, kmeans)
pipeline.fit(movements)

Pipeline(steps=[('normalizer', Normalizer()),
                ('kmeans', KMeans(n_clusters=14))])

**Step 3:** Use the `.predict()` method of the pipeline to predict the labels for `movements`.

In [105]:
labels = pipeline.predict(movements)

**Step 4:** Align the cluster labels with the list of company names `companies` by creating a DataFrame `df` with `labels` and `companies` as columns.

In [106]:
df = pd.DataFrame
df = pd.DataFrame({'Labels':labels,'Companies':companies})
df

    Labels                           Companies
0        0                               Apple
1        7                                 AIG
2       12                              Amazon
3        1                    American express
4        1                              Boeing
5        7                     Bank of America
6        4            British American Tobacco
7        2                               Canon
8        1                         Caterpillar
9        9                   Colgate-Palmolive
10       8                      ConocoPhillips
11       5                               Cisco
12       8                             Chevron
13       1                   DuPont de Nemours
14      10                                Dell
15       7                                Ford
16       6                   General Electrics
17      12                     Google/Alphabet
18       7                       Goldman Sachs
19       4                     GlaxoSmithKline
20       1                          Home Depot
21       2                               Honda
22      10                                  HP
23       1                                 IBM
24       5                               Intel
25       3                   Johnson & Johnson
26       7                      JPMorgan Chase
27       9                      Kimberly-Clark
28      11                           Coca Cola
29       1                     Lookheed Martin
30       1                          MasterCard
31      11                           McDonalds
32       1                                  3M
33       5                           Microsoft
34       2                          Mitsubishi
35       1                            Navistar
36       1                    Northrop Grumman
37       4                            Novartis
38      11                               Pepsi
39       3                              Pfizer
40       9                      Procter Gamble
41      11                       Philip Morris
42       4                   Royal Dutch Shell
43       4                                 SAP
44       8                        Schlumberger
45       2                                Sony
46       4                      Sanofi-Aventis
47       1                            Symantec
48       2                              Toyota
49       4                               Total
50       5  Taiwan Semiconductor Manufacturing
51       5                   Texas instruments
52       4                            Unilever
53       8                       Valero Energy
54       3                            Walgreen
55       7                         Wells Fargo
56       3                            Wal-Mart
57       8                               Exxon
58       6                               Xerox
59      13                               Yahoo

**Step 5:** Now display the DataFrame, sorted by cluster label.  To do this, use the `.sort_values()` method of `df` to sort the DataFrame by the `'labels'` column.

In [107]:
df.sort_values('Labels')

    Labels                           Companies
0        0                               Apple
47       1                            Symantec
36       1                    Northrop Grumman
35       1                            Navistar
32       1                                  3M
30       1                          MasterCard
23       1                                 IBM
20       1                          Home Depot
13       1                   DuPont de Nemours
29       1                     Lookheed Martin
3        1                    American express
8        1                         Caterpillar
4        1                              Boeing
34       2                          Mitsubishi
48       2                              Toyota
21       2                               Honda
7        2                               Canon
45       2                                Sony
56       3                            Wal-Mart
39       3                              Pfizer
54       3                            Walgreen
25       3                   Johnson & Johnson
43       4                                 SAP
52       4                            Unilever
49       4                               Total
46       4                      Sanofi-Aventis
37       4                            Novartis
6        4            British American Tobacco
42       4                   Royal Dutch Shell
19       4                     GlaxoSmithKline
33       5                           Microsoft
50       5  Taiwan Semiconductor Manufacturing
11       5                               Cisco
24       5                               Intel
51       5                   Texas instruments
58       6                               Xerox
16       6                   General Electrics
1        7                                 AIG
18       7                       Goldman Sachs
55       7                         Wells Fargo
5        7                     Bank of America
26       7                      JPMorgan Chase
15       7                                Ford
57       8                               Exxon
53       8                       Valero Energy
10       8                      ConocoPhillips
12       8                             Chevron
44       8                        Schlumberger
40       9                      Procter Gamble
9        9                   Colgate-Palmolive
27       9                      Kimberly-Clark
22      10                                  HP
14      10                                Dell
41      11                       Philip Morris
38      11                               Pepsi
31      11                           McDonalds
28      11                           Coca Cola
2       12                              Amazon
17      12                     Google/Alphabet
59      13                               Yahoo

**Great job!** Using k-means, you've discovered which companies stock prices move together on the stock exchange.