# Pandas NBgrader exercises

In this notebook you will find the 6 deliverable exercises regarding pandas. This notebook is autograded so please dont modify any cell except to add your solution. Modifying this notebook may result in you not getting a grade.

In [189]:
import pandas as pd
import numpy as np

In [190]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**13.** Change the age in row 'f' to 1.5.

In [191]:
# YOUR CODE HERE
df['age'] = df['age'].replace([2.0],1.5)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [192]:
assert df['age']['f'] == 1.5

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visit' column in *ascending* order.

In [193]:
# YOUR CODE HERE
df.sort_values(by=['age','visits'],ascending=[False,True], inplace=True)
df

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

In [194]:
b = True
for i in range(df.shape[0]-1):
    if df['age'].values[i] < df['age'].values[i+1]:
        b = False
        break
    
assert b

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [195]:
# YOUR CODE HERE
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values

print(df.shape)
df

(5, 3)

          0         1         2
0  0.084143  0.206969  0.055979
1  0.663640  0.511175  0.456764
2  0.547206  0.004382  0.576396
3  0.361010  0.903083  0.937912
4  0.411256  0.044157  0.580109

In [196]:
mean = df.mean(axis=1)
mean

0    0.115697
1    0.543860
2    0.375995
3    0.734002
4    0.345174
dtype: float64

In [197]:
df.sub(mean,axis=0)

          0         1         2
0 -0.031554  0.091272 -0.059718
1  0.119780 -0.032685 -0.087095
2  0.171211 -0.371613  0.200402
3 -0.372992  0.169081  0.203911
4  0.066082 -0.301017  0.234935

In [198]:
assert df.shape == (5,3)
assert df[0].max() <= 1
assert df[0].min() >= -1

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [199]:
# YOUR CODE HERE
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
df

,a,b,c,d,e,f,g,h,i,j
0,0.001173,0.163214,0.946257,0.750412,0.041427,0.677434,0.333717,0.403918,0.444316,0.680145
1,0.220939,0.408999,0.112402,0.158651,0.246074,0.997464,0.032811,0.171627,0.579449,0.982974
2,0.288530,0.171426,0.616301,0.356716,0.374657,0.496879,0.537159,0.629236,0.372875,0.849113
3,0.784321,0.858907,0.335489,0.778554,0.966582,0.178919,0.682173,0.712939,0.041400,0.479672
4,0.283875,0.128593,0.407825,0.958448,0.481057,0.037544,0.305631,0.082799,0.754820,0.542102

In [200]:
#print(df.sum())
idx = df.sum().idxmin()

In [201]:
assert idx in 'abcdefghij'

The next three puzzles are slightly harder...

**26.** You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the *column* which contains the *third* NaN value.

(You should return a Series of column labels.)

In [202]:
# YOUR CODE HERE

In [ ]:
assert indexes == [3, 8, 5, 6, 8]
assert res.shape == (5,)
assert list(res.values) == [3, 8, 5, 6, 8]

**27.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example: 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.

In [ ]:
# YOUR CODE HERE

In [ ]:
assert res.values[0] == 409
assert res.values[1] == 156
assert res.values[2] == 345