# Pandas NBgrader exercises

In this notebook you will find the 6 deliverable exercises regarding pandas. This notebook is autograded so please dont modify any cell except to add your solution. Modifying this notebook may result in you not getting a grade.

In [253]:
import pandas as pd
import numpy as np

In [254]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**13.** Change the age in row 'f' to 1.5.

In [255]:
# YOUR CODE HERE
df['age'] = df['age'].replace([2.0],1.5)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [256]:
assert df['age']['f'] == 1.5

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visit' column in *ascending* order.

In [257]:
# YOUR CODE HERE
df.sort_values(by=['age','visits'],ascending=[False,True], inplace=True)
df

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

In [258]:
b = True
for i in range(df.shape[0]-1):
    if df['age'].values[i] < df['age'].values[i+1]:
        b = False
        break
    
assert b

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [259]:
# YOUR CODE HERE
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values

print(df.shape)
df

(5, 3)

          0         1         2
0  0.807277  0.193674  0.635849
1  0.267179  0.108366  0.616144
2  0.407029  0.982026  0.560961
3  0.374710  0.755842  0.201511
4  0.848266  0.813113  0.858675

In [260]:
mean = df.mean(axis=1)
mean

0    0.545600
1    0.330563
2    0.650005
3    0.444021
4    0.840018
dtype: float64

In [261]:
df.sub(mean,axis=0)

          0         1         2
0  0.261677 -0.351926  0.090249
1 -0.063384 -0.222197  0.285581
2 -0.242976  0.332021 -0.089044
3 -0.069311  0.311821 -0.242510
4  0.008248 -0.026905  0.018657

In [262]:
assert df.shape == (5,3)
assert df[0].max() <= 1
assert df[0].min() >= -1

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [263]:
# YOUR CODE HERE
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
df

,a,b,c,d,e,f,g,h,i,j
0,0.318537,0.989379,0.045814,0.152945,0.195863,0.566789,0.428088,0.580204,0.624753,0.864240
1,0.227628,0.198613,0.261464,0.622240,0.493342,0.192395,0.750079,0.090201,0.870752,0.338162
2,0.798336,0.852904,0.130476,0.950604,0.028663,0.384039,0.902033,0.845229,0.504221,0.444249
3,0.670408,0.279354,0.716716,0.997596,0.855386,0.373710,0.299427,0.024406,0.784923,0.608516
4,0.912135,0.568373,0.650642,0.415911,0.131379,0.527465,0.723272,0.355738,0.339989,0.376079

In [264]:
#print(df.sum())
idx = df.sum().idxmin()

In [265]:
assert idx in 'abcdefghij'

The next three puzzles are slightly harder...

**26.** You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the *column* which contains the *third* NaN value.

(You should return a Series of column labels.)

In [266]:
# YOUR CODE HERE

In [267]:
assert indexes == [3, 8, 5, 6, 8]
assert res.shape == (5,)
assert list(res.values) == [3, 8, 5, 6, 8]

**27.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example: 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.

In [268]:
# YOUR CODE HERE
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
df

   grps  vals
0     a    12
1     a   345
2     a     3
3     b     1
4     b    45
5     c    14
6     a     4
7     a    52
8     b    54
9     c    23
10    c   235
11    c    21
12    b    57
13    b     3
14    c    87

In [269]:
res = df.groupby('grps')['vals'].nlargest(3).sum(level=0)
res

C:\Users\shahi\AppData\Local\Temp/ipykernel_7424/2912583859.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  res = df.groupby('grps')['vals'].nlargest(3).sum(level=0)

grps
a    409
b    156
c    345
Name: vals, dtype: int64

In [270]:
assert res.values[0] == 409
assert res.values[1] == 156
assert res.values[2] == 345